html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  }

.header {
  padding:10px;
  text-align: left;
  background: #00A6D6;
  color: white;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -160px;
}

.footer {
  padding-top: 50px;
  height: 110px;
  text-align: center;
  background: #4D5359;
}

.fa-linkedin-in:before {
  color: white;
  font-size: 24px;
  text-align: center;
}

.footer p {
  color: white;
  font-size: 14px;
  text-align: center;
}

.footer a {
  color: white;
  text-align: center;
}
.push {
height: 160px;
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}